<p style="color: green"><%= notice %></p>

<div class="container col-4 form-control border-2 mt-5" style="background-color: #e3f2fd;">
  <h1 class="fs-2 machine-font mt-2 mx-0 text-body-tertiary">Movies</h1>
  <%= link_to "New movie", new_movie_path, class: "btn btn-primary ms-1 btn-secondary mb-3 btn-sm" %>
  <div id="movies">
    <div class="row">
      <% @movies.each do |movie| %>
        <%= render movie %>
      <% end %>
    </div>
  </div>
</div>
