<div class="container  form-control border-2 mt-5" style="background-color: #e3f2fd;">
	<h1 class="fs-2 machine-font mt-2 mx-0 text-body-tertiary">New movie</h1>

	<%= render "form", movie: @movie %>

	<br>

	<div>
	  <%= link_to "Back to movies", movies_path %>
	</div>
</div>