<div class="container col-4 form-control border-2 mt-5" style="background-color: #e3f2fd;">
	<p style="color: green"><%= notice %></p>
<div class="fs-2 machine-font mt-2 mx-0 text-body-tertiary">
	Client
</div>
	<%= render @client %>

</div>